<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比价系统</title>
    <link type="text/css" href="css/app.css" rel="stylesheet">
</head>
<body>

<div class="search-container">
    <div class="input-container">
        <input type="text" placeholder="请输入要搜索的商品">
    </div>
    <div class="button-container">
        <div>搜索</div>
    </div>
</div>


<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
</body>

</html>