<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>比价系统</title>
    <link type="text/css" href="css/app.css" rel="stylesheet">
</head>
<body>
<div class="result-page-search-container result-page">
    <div class="input-container">

        <input type="text" placeholder="请输入要搜索的商品">
    </div>
    <div class="button-container">
        <div>搜索</div>
    </div>
</div>

<div class="br"></div>

<div class="search-result-container">
    <ul class="search-result-list">

        <li class="search-result-item">
            <div class="search-result-item-con">

                <div class="item-img">
                    <a href="https://item.jd.com/55223318934.html" target="_blank">
                        <img src="https://img14.360buyimg.com/n7/jfs/t1/56737/28/15774/146646/5dc8681bE67e75fff/8f1fc0144e963d05.jpg">
                    </a>
                </div>

                <div class="item-title">
                    <div class="shop-logo">
                        <img src="assets/京东.png"><span>vivo官方旗舰店（非自营）</span>
                    </div>
                    <div class="title-con">
                        <a href="https://item.jd.com/55223318934.html" target="_blank">
                            【11至高优惠600】vivo iQOO Pro 5G全网通高通骁龙855Plus手机 竞速黑 12GB 128GB
                        </a>
                    </div>

                </div>

                <div class="item-price">
                    ￥<b>999.00</b>
                </div>
                <div class="item-comment">
                    1000+条评论
                </div>
                <div class="discount">
                    <div class="item-reduction">
                        满100-20
                    </div>
                    <div class="item-coupon">
                        1000-100券
                    </div>
                </div>
            </div>
        </li>


    </ul>
</div>

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/search.js"></script>
</body>
</html>