<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lcx.spider.mapper.ItemMapper">



    <select id="selectPhonesNormal" resultType="com.lcx.spider.entity.Item">
        select a.*
        from itemphones a
        where a.itemName like "%"#{keyword}"%"
        LIMIT 10
    </select>

    <select id="selectTabletsNormal" resultType="com.lcx.spider.entity.Item">
        select a.*
        from itemtablets a
        where a.itemName like "%"#{keyword}"%"
        LIMIT 10
    </select>

    <select id="selectCamerasNormal" resultType="com.lcx.spider.entity.Item">
        select a.*
        from itemcameras a
        where a.itemName like "%"#{keyword}"%"
        LIMIT 10
    </select>

    <select id="selectTelevisionNormal" resultType="com.lcx.spider.entity.Item">
        select a.*
        from itemtelevision a
        where a.itemName like "%"#{keyword}"%"
        LIMIT 10
    </select>


</mapper>